<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC598I1cKe70p0UtwPgx80WmWGr7rFfbjI</string>
	<key>GCM_SENDER_ID</key>
	<string>944630789596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fusandafeApp</string>
	<key>PROJECT_ID</key>
	<string>fusandafe-ac9ee</string>
	<key>STORAGE_BUCKET</key>
	<string>fusandafe-ac9ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944630789596:ios:a5bd4fddb464edef6acb19</string>
</dict>
</plist>